{% extends "profile_template.html" %}

{% block title %}{% endblock %}
{% block image %}helen.jpg{% endblock %}
{% block name %}Helen{% endblock %}


{% block about %}
I'm Helen and I am currently a second year student. I want to be a software engineer and hopefully work in the Bay Area when I graduate.
{% endblock %}
{% block experiences %}Hackathon Mentor{% endblock %}
{% block education %}University of Toronto{% endblock %}
{% block hobbbies %}Skiing, trying new foods, beach volleyball{% endblock %}