{% extends "profile_template.html" %}

{% block title %}{% endblock %}
{% block image %}mauricio.jpg{% endblock %}
{% block name %}Mauricio Gomez{% endblock %}


{% block about %}
    Hello,
    I am Mauricio, an IT professional seeking to advance my career!
{% endblock %}
{% block experiences %}InfoSys - Associate - 2022-present
                       ApprenticeNow - Infrastructure Support Apprentice - 2022
                       AWS re/Start - alumni - 2022{% endblock %}
{% block education %}
    Arizona State University - Computer Science, BS.
{% endblock %}
{% block hobbbies %}In my free time, I like to sleep zzzzz{% endblock %}
