<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MLH Fellowship '23' • Pico.css</title>
    <meta name="description" content="A portfolio template">
    <link rel="shortcut icon" href="./static/img/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/company/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="./static/styles/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="./static/styles/main.css">
  </head>

  <body>

    <!-- Hero -->
    <div class="hero" data-theme="dark">
      <nav class="container-fluid">
        <ul>
            <li><a href="/" class="contrast" <strong>MLH Fellowship 2023</strong></a></li>
        </ul>
        <ul>
          <li>
            
          </li>
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast">Résumé</summary>
              <ul role="listbox">
                <li><a href="/rachel">Rachel</a></li>
                <li><a href="/mauricio">Mauricio</a></li>
                <li><a href="/helen">Helen</a></li>
                <li><a href="/eliza">Eliza</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
      <header class="container">
        <hgroup>
          <h1>MLH
              Fellowship
          </h1>
          <h2>Site Reliability Engineering</h2>
        </hgroup>
      </header>
    </div><!-- ./ Hero -->

    <!-- Main -->
    <main class="container">
      <div class="grid">

        <section>
          <hgroup>
            <h2>About us</h2>
            <h3>Site Reliability Engineering in the MLH Fellowship</h3>
          </hgroup>
          <p>We are a team of Site Reliability Engineers Fellows (SREs) participating in the MLH Fellowship 2023. Our mission is to improve the reliability, scalability, and efficiency of open-source projects and technologies. As SREs, we are responsible for ensuring that the systems we work on are highly available and perform well under heavy loads. </p>
          <figure>
            <img src="./static/img/fellows.jpg" alt="MLH Photo" width="600" height="800">
            <figcaption>A group of our talented team members</figcaption>
          </figure>
          <h3>What we do</h3>
          <p>In the MLH Fellowship, we work with open-source projects and communities to identify and resolve technical challenges. Our work involves monitoring systems, performing root cause analysis of incidents, and implementing solutions to prevent future outages. We also contribute to the development of new features and improvements to the projects we work on, with the goal of making them more reliable, scalable, and user-friendly. </p>
          <h3>Our Team</h3>
          <p>Our team consists of professionals and engineers from diverse backgrounds, each bringing unique skills and perspectives to the fellowship. Our collaboration and teamwork ensure that we are able to effectively tackle even the toughest challenges and deliver high-quality results.</p>
        </section>

        <aside>
          <a href="/" aria-label="Template route"><img src="./static/img/logo.jpg" alt="logo"></a>
          <p>
            <a href="/">PlaceHolder</a><br>
            <small></small>
          
        </aside>

      </div>
    </main><!-- ./ Main -->

  </body>

</html>
