<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!--This is where the main block in your_name.html is used-->
    <main>
        {% block main %}{% endblock %}
    </main>

    <!--Template for <script> block in your_name.html-->
    {% block javascript %}{% endblock %}

</body>
</html>