{% extends "profile_template.html" %}

{% block title %}{% endblock %}
{% block image %}rachel.jpg{% endblock %}
{% block name %}Rachel{% endblock %}
{% block about %}
    Hi, I'm Rachel and I'm an aspiring software engineer.
    I enjoy building web applications hope to build more projects with other people.
{% endblock %}

{% block experiences %}{% endblock %}

{% block education %}
    <p style="font-size: 20px;"><u>UC Berkeley (2022-present):</u> Electrical Engineering and Computer Sciences</p>
{% endblock %}
{% block hobbbies %}{% endblock %}
